@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../assets/fonts/ProximaNovaRegular/ProximaNova-Regular.eot?") format("eot"),
  url("../assets/fonts/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"),
  url("../assets/fonts/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype"),
  url("../assets/fonts/ProximaNovaRegular/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../assets/fonts/ProximaNovaBold/ProximaNova-Bold.eot?") format("eot"),
  url("../assets/fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"),
  url("../assets/fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype"),
  url("../assets/fonts/ProximaNovaBold/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
}