@import "_vars";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: $regular;
}

a{
  text-decoration: none;
}

.sidebar {
  z-index: 2;
  position: fixed;
  left: -241px;
  height: 100%;
  border-right: 1px solid $brown;
  width: 240px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  &.visible {
    left: 0;
    transition: 0.2s ease-in-out;
  }
  & .blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #171717;
  }
  & i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
    color: $brown;
  }
  & ul {
    margin-top: 10px;
    margin-left: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 18px;
    & a {
      color: $brown;
    }
    & li .line {
      height: 3px;
      width: 0;
      overflow: hidden;
      background-color: $brown;
      transition: 0.2s ease-in-out;
    }
    & li:hover .line {
      transition: 0.2s ease-in-out;
      width: 100%;
    }
  }
}

header{
  padding: 10px 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarToggle{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.1s ease-in-out;
  color: $gray;
  & .toggleButton{
    width: 30px;
    height: 30px;
    margin: 10px 5px 10px 15px;
  }
  & p{
    font-size: 12px;
    font-family: $bold;
    text-transform: uppercase;
  }
  &:hover{
    color: white;
    transition: color 0.1s ease-in-out;
  }
}

.navbar{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  & > a{
    flex-basis: 40%;
    font-family: $bold;
    text-transform: uppercase;
    font-size: 32px;
    color: $white;
    letter-spacing: 7px;
  }
  & .linethrough{
    transform: translate(36.7px, 17.5px);
    background: $brown;
    width: 54px;
    height: 4px;
  }
  & ul{
    font-size: 12px;
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & li a{
      text-transform: uppercase;
      color: $gray;
      font-family: $bold;
      transition: 0.1s ease-in-out;
      &:hover{
        color: $white;
        transition: 0.1s ease-in-out;
      }
    }
  }
}

.language{
  align-self: flex-start;
  font-size: 12px;
  margin: 16.5px 15px 10px 5px;
  color: $gray;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  & i{ 
    color: $brown;
  }
  & ul{
    display: block;
    overflow: hidden;
    height:0px;
    transition: 0.3s ease-in-out; 
    &.visible{
      transition: 0.3s ease-in-out; 
      height: 24px;
    }
    & li{
      transition: 0.1s ease-in-out;
      color: $gray;
    }
    & li:hover{
      color: $white;
      transition: 0.1s ease-in-out;
    }
  }
  &:hover{
    color: $white;
    transition: 0.1s ease-in-out;
  }
}

@import "_media";