@import "_vars";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: $regular;
}

a{
  text-decoration: none;
}

h1, h2, h3{
  text-transform: uppercase;
  font-family: $bold;
}

.sidebar, header, .hero{
  user-select: none;
}

::selection{
  color: $white;
  background-color: $brown;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  // background: rgba(255, 255, 255, 0);
  background: black;
}

::-webkit-scrollbar-thumb{
  background: $brown;
}
// SIDEBAR START

.sidebar {
  z-index: 3;
  position: fixed;
  left: -241px;
  height: 100%;
  border-right: 1px solid $brown;
  width: 240px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  &.visible {
    left: 0;
    transition: 0.2s ease-in-out;
  }
  & .blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #171717;
  }
  & i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
    color: $brown;
  }
  & ul {
    margin-top: 10px;
    margin-left: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-transform: uppercase;
    font-family: $bold;
    font-size: 18px;
    letter-spacing: 5px;
    & a {
      color: $brown;
    }
    & li .line {
      height: 3px;
      width: 0;
      overflow: hidden;
      background-color: $brown;
      transition: 0.2s ease-in-out;
    }
    & li:hover .line {
      transition: 0.2s ease-in-out;
      width: 100%;
    }
  }
}


// SIDEBAR END


// HEADER START

header{
  z-index: 2;
  position: absolute;
  padding: 10px 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarToggle{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.1s ease-in-out;
  color: $gray;
  & .toggleButton{
    width: 30px;
    height: 30px;
    margin: 10px 5px 10px 15px;
  }
  & p{
    font-size: 12px;
    font-family: $bold;
    text-transform: uppercase;
  }
  &:hover{
    color: white;
    transition: color 0.1s ease-in-out;
  }
}

.navbar{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  & > a{
    flex-basis: 40%;
    font-family: $bold;
    text-transform: uppercase;
    font-size: 32px;
    color: $white;
    letter-spacing: 7px;
  }
  & .linethrough{
    transform: translate(36.7px, 17.5px);
    background: $brown;
    width: 54px;
    height: 4px;
  }
  & ul{
    font-size: 12px;
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & li a{
      text-transform: uppercase;
      color: $gray;
      font-family: $bold;
      transition: 0.1s ease-in-out;
      &:hover{
        color: $white;
        transition: 0.1s ease-in-out;
      }
    }
  }
}

.language{
  align-self: flex-start;
  font-size: 12px;
  margin: 16.5px 15px 10px 5px;
  color: $gray;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  & i{ 
    color: $brown;
  }
  & ul{
    display: block;
    overflow: hidden;
    height:0px;
    transition: 0.3s ease-in-out; 
    &.visible{
      transition: 0.3s ease-in-out; 
      height: 24px;
    }
    & li{
      transition: 0.1s ease-in-out;
      color: $gray;
    }
    & li:hover{
      color: $white;
      transition: 0.1s ease-in-out;
    }
  }
  &:hover{
    color: $white;
    transition: 0.1s ease-in-out;
  }
}


// HEADER END

// HERO START


.hero{
  position: relative;
  width: 100%;
  height: 100vh;

  & .background-image{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    & .image-main{
      flex-basis: 60%;
      height: 100%;
      background-image: url('../assets/img/Untitled-1.png');
      background-size: cover;
    }
    & .image-secondary{
      flex-basis: 40%;
      height: calc(100% + 40px);
      background-image: url('../assets/img/Untitled-2.png');
      background-size: cover;
    }
  }

  & .hero-content{
    z-index: 3;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    & .mouse-scroll{
      height: 135px;
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & .mouse-scroll-icon img{
        width: 30px;
        animation: arrowAnimation 1s infinite;
      }
      & .arrow-icon img{
        width: 30px;
      }
      @keyframes arrowAnimation{
        0%{
          margin-top: 0;
        }
        50%{
          margin-top: 5px;
        }
        75%{
          margin-top: 0;
        }
        100%{
          margin-top: 0;
        }
      }
      & .scroll-paragraph{
        margin-top: 30px;
        transform: rotate(90deg);
        color: #3b3b3a;
        font-size: 12px;
        letter-spacing: 3px;
      }
    }
    & .hero-text{
      flex-basis: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & .title{
        font-size: 96px;
        color: $brown;
        letter-spacing: 16px;
        padding: 0 0 30px;
      }
      & .link-button{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        color: $white;
        letter-spacing: 3px;
        font-size: 12px;
        padding: 10px 0;
        width: 300px;
        & img{
          height: 30px;
          margin-left: 5px;
          transition: 0.2s ease-in;
        }
        &:hover img{
          padding-left: 20px;
          transition: 0.2s ease-in;
        }
      }
    }
    & .hero-side-text{
      flex-basis: 25%;
      text-align: center;
      color: $darkBrown;
      font-size: 12px;
      letter-spacing: 3px;
      padding-top: 30px;
      
      & h3{
        transform: rotate(90deg);
      }
    }
  }
}

//HERO END

@import "_media";